/* Styles Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Menu */
header{
    height: auto;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1% 10%;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 10px 10px 24px 0px rgba(132,152,255,0.29);
    -webkit-box-shadow: 10px 10px 24px 0px rgba(132,152,255,0.29);
    -moz-box-shadow: 10px 10px 24px 0px rgba(132,152,255,0.29);
}
header h1{
    font-size: auto;
    width: auto;
    font-family:'Times New Roman', Times, serif;
}
header .button{
    border: 0;
    display: none;
}
header nav{
    width:70%;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}
header .ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
header .li{
    margin: 0 .5em;
    list-style:none;
}
header a{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color:rgb(78, 78, 78);
    font-family:    Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.Empezar{
    background-color: black;
    padding:  0.5rem 1.6rem;
    color: white;
    margin-left: 4%;
    font-size:medium;
    font-weight: 100;
}

/* Media Query  Responsive Modo Phone */
@media screen and (max-width:480px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    header{
        padding: 5%;
        background-color: rgb(255, 255, 255);
    }
    header .button{
        display: block;
        cursor: pointer;
        scale: 1.4;
        background-color: white;
    }
    header nav{
        width: 100%;
        background-color: rgb(255, 255, 255);
        height: 0;
        transition: all .5s ease;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    header nav.activo{
        height: 60vh;
    }
    header .nav .ul .Empezar{
        width: 100%;
        margin-top: 7%;
    }
    header .ul{
        flex-direction: column;
    }
    header .li{
        margin: 0rem 0;
        border-top: 0.2px solid rgb(179, 177, 177);
        width: 100%;
        text-align: center;
        padding: 1rem 0%;   
    }
    /* Main Style */
    
}
.container {
    display: flex;
    height: 100dvh;
    justify-content: center;
  }
  
  .square {
    width: 40%;
    height: 100dvh;
  }
  
  .red {
    display: grid;
  
  }
  .Content{
    padding-top: 30%;
    height: 100dvh;
  }
  .main-h1{
    font-size:4em;
    font-weight: 600;
    width: auto;
    font-family:'Times New Roman', Times, serif;
  }
  .main-p{
    margin-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 100;
  }
  .main-Empezar{
    margin-top: 2%;
    margin-left: 0;
    border-radius: 5px;
    font-weight: 500;
  }
  .blue {
    padding-top: 5%;
    background-color: rgb(255, 255, 255);
  }
  
  @media (max-width: 600px) {
    .container {        
        flex-direction: column;
        overflow: hidden;
        background: linear-gradient(rgb(255, 255, 255),white, rgb(0, 117, 121));
    }
    .Content{   
        height: 100dvh  ;
        margin-top: 10%;
        width: 100%;  
        margin-left: 5%;
    }
    .main-h1{
        font-size: 2.7em;
    }
    .main-p{
        margin-top: 6%;
        width: 90%;
    }
    .main-Empezar{
        margin-top: 10%;
    }
    .square {
      width: 100%;
      margin-top: 0px;
     

    }
    .blue{
        display: none;
    }
  }
  aside{
    height: 80vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }